body{
    margin: 0rem 0rem 0rem 0rem;
         
}
.head12{
    font-family:  Verdana, sans-serif;
}
.patti{
    background-color:#BCFFB9;
    height: 5.0rem;
    padding: 0.1rem;
    width: 100%;
}
.dclass{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
}

.loc1{
    display: flex;
    margin-left: 0.625rem; 
}
.imgl1{
    margin : 0.755rem 0rem 0rem 0.15rem;
} 
.onof12{
    position: absolute;
    right: 0.625rem;
}
.onof1{
    margin:  0rem 0rem 0rem 0rem;
    color: red;
    list-style:square;
}
.onof2{
    margin:  0rem 0rem 0rem 0rem;
    //color: red;
}
.onof3{
    margin:  0rem 0rem 0rem 0rem;
}

.headh1{
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 1.55rem;
    left: 0.55rem;
}
.lefts{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.0rem;
    position: absolute;
    right: 0.80rem;
    top:3.05rem;
}
.contactd{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    margin-left: 0.62rem;
}
.sdiv{
    width: 100%;
}
.column{
    display: block;
    list-style: none;
    display: flex;
    padding-left: 0px;  
}
.clist{
    font-size: 1.20rem;
    background-color: #BCFFB9;
    width: 145px;
    padding: 0.5rem;
    margin-right: 0.05rem;
    border-width: 0px 2px 0px 2px;
    text-decoration: none;
}
.names{
    text-align: center;
}
.exp12{
    font-size: 1.5rem;
    margin: 0.5rem 0rem 0rem 1.0rem;
}
.x1y1{
    background-color:#BCFFB9;
    display: flex;
    width: 100%;
    height: 11.1rem;   
}
.ax1y1{
    text-decoration: none;
    
}
.x1y2{
    height: 150px; 
    width: 50%;
    padding:1.2rem 1.5rem 1.5rem 1.5rem;
}
.y0z0{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 0%;

}
.hr12{
    margin: 0%;
}
    
.soc123{
    margin: 0rem 0rem 0rem 1rem;
}

    






